*,*:before,*:after{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

:root{
    --light-cyan :  hsl(193, 38%, 86%);
    --neon-green : hsl(150, 100%, 66%);
    --greyish-blue : hsl(217, 19%, 38%);
    --dark-greyish-blue : hsl(217, 19%, 24%);
    --dark-blue : hsl(218, 23%, 16%);
    --quote-font-size : 28px;
    --font-weight : 800px;
}

/* MOBILE LAYOUT : 375px AND DESKTOP LAYOUT : 1140px */

/* START WRITING STYLES FOR THE WEBSITE */

body{
    background-color: var(--dark-blue);
    font-family: 'Manrope',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 100vh;
    position: relative;
}

.advice-box{
    width : 40%;
    background-color: var(--dark-greyish-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.advice-heading{
    color : var(--neon-green);
    font-size : .9rem;
    margin-top : 40px;
}

.advice-heading span{
    padding-left: .3rem;
}

.quote{
    width : 80%;
    margin : 26px auto;
    text-align: center;
    color : var(--light-cyan);
    font-size : 24px;
    line-height: 2rem;
    font-weight: 800;
}

#divider{
    display: block;
    max-width: 85%;
    margin-bottom: 50px;
}

.dice{
    height : 45px;
    width : 45px;
    background : var(--neon-green);
    border-radius: 100px;
    position: absolute;
    bottom : 0px;
    transform : translateY(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice:hover{
    box-shadow: 1px 1px 30px var(--neon-green);
    cursor: pointer;
}

.dice img{
    height : 20px;
    width : 20px;
}

.attribution {
    font-size: 14px; 
    text-align: center;
    position: absolute;
    bottom : 2.5%;
    color : var(--light-cyan);
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* WRITING MEDIA QUERIES FOR MOBILE DEVICES */

@media (max-width : 550px){
    .advice-box{
        width : 90%;
    }
}

/* WRITING MEDIA QUERIES FOR TABLET DEVICES */

@media (min-width : 551px) and (max-width : 768px){
    .advice-box{
        width : 55%;
    }
}

/* WRITING MEDIA QUERIES FOR DESKTOP DEVICES */

@media (min-width : 769px) and (max-width : 1140px){
    .advice-box{
        width : 65%;
    }
}