*,*:before,*:after{
    margin : 0rem;
    padding : 0rem;
    box-sizing : border-box;
}

:root{
    --light-cyan :  hsl(193, 38%, 86%);
    --neon-green : hsl(150, 100%, 66%);
    --greyish-blue : hsl(217, 19%, 38%);
    --dark-greyish-blue : hsl(217, 19%, 24%);
    --dark-blue : hsl(218, 23%, 16%);
    --quoet-font-size : 28px;
    --font-weight : 800px;
}

/* MOBILE LAYOUT : 375px AND DESKTOP LAYOUT : 1140px */

/* START WRITING STYLES FOR THE WEBSITE */

body{
    background-color: var(--dark-blue);
    
}